<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="d:\nlog\nlog-internal.log">
	<variable name="RootDir" value="D:/SATLog" />
	<variable name="logDir" value="${basedir}/nlog" />
	<variable name="logFileName" value="${date:format=yyyyMMdd}.txt" />
	<variable name="logArchiveFileName" value="${date:format=yyyyMMdd}_{#}.txt" />
	<variable name="logLayout" value="Logger：${callsite:skipFrames=1}${newline}Date：${longdate}${newline}Level：${uppercase:${level}}${newline}Message：${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />
	<variable name="ComonlogLayout" value="${longdate}  ${callsite:skipFrames=1}  ${message}  ${onexception:Exception：${exception:format=toString}}" />
	<variable name="InfologLayout" value="${longdate} ${uppercase:${level}}  ${callsite:skipFrames=1}  ${message}  ${onexception:Exception：${exception:format=toString}}" />

	<targets>

		<target xsi:type="File" name="error"
				layout="${logLayout}"
				fileName="${logDir}/Error/${logFileName}"
				archiveFileName="${logDir}/info/${logArchiveFileName}"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="100"
				concurrentWrites="true"
				keepFileOpen="true"
				openFileCacheTimeout="30"
				encoding="UTF-8" />

		<target xsi:type="File" name="info"
				layout="${InfologLayout}"
				fileName="${logDir}/Info/${logFileName}"
				archiveFileName="${logDir}/info/${logArchiveFileName}"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="100"
				concurrentWrites="true"
				keepFileOpen="true"
				openFileCacheTimeout="30"
				encoding="UTF-8" />

		<target name="logconsole"
					xsi:type="Console"
			  layout="${ComonlogLayout}" />
	</targets>

	<rules>

		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="info" />
		<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>